@model ArticleResponseViewModel
@{
    ViewData["Title"] = "CreateSeveralArticles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function createArticles(){
        var numberOfArticles = document.getElementById("numberOfArticle").value;
        if(numberOfArticles != 0){
            window.location.href = '@Url.Action("CreateSeveralArticles", "Article")?numberOfArticles=' + numberOfArticles;
        }
        else{
            alert("Number of Articles to Create should be greater than 0!!!");
        }
    }
</script>

<h1>@ViewBag.Subtitle</h1>
<hr />

<h4>@ViewBag.Action</h4>
<hr />

<div class="row">
    <div class="mb-2">
        <input type="text" id="numberOfArticle" class="form-control form-control-sm" placeholder="---Number of Articles to Create at once---" />
    </div>
    <div class="mb-2">
        <a class="btn btn-outline-danger btn-sm" onclick="createArticles()">Create Articles</a>
    </div>
</div>
<hr />

@{
    int numberOfArticles = ViewBag.NumberOfArticles;
    if (numberOfArticles != 0)
    {
        <form id="formArticles" asp-action="CreateMultipleItems" asp-controller="Article" method="post">
            @for (int i = 0; i < numberOfArticles; i++)
            {
                <div class="card mb-2">
                    <div class="card-header">
                        <h4>Article number: @(i + 1)</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <label class="form-label">Name</label>
                            <input type="text" name="[@i].Name" class="form-control form-control-sm" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Is Damaged?</label>
                            <input name="[@i].IsDamaged" type="checkbox" value="true" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Museum</label>
                            <select name="[@i].IdMuseum" class="form-control">
                                @foreach (var item in ViewBag.Museum)
                                {
                                    <option value="@item.MuseumId">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-warning btn-sm mt-2">Create Several Articles at Once</button>
        </form>
    }
}
