@model List<ArticleResponseViewModel>
<script>
    function confirmDelete(Id){

        var answer=confirm("¿Are you sure that you want to Delete Item?");
           if (answer)
             window.location.href = '@Url.Action("Delete", "Article")?articleId=' + Id;
        }

    function confirmMarkDamaged(Id){

        var answer=confirm("¿Are you sure that you want to Mark Article as Damaged?");
           if (answer)
             window.location.href = '@Url.Action("MarkArticleAsDamaged", "Article")?articleId=' + Id;
        }
</script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.NewTitle</h1>
<hr />

<div class="card">
    <div class="card-header">
        <a asp-action="Article" asp-controller="Article" class="btn btn-success btn-md" style="margin-right:30px;">Add new Article</a>
        <a asp-action="CreateSeveralArticles" asp-controller="Article" class="btn btn-secondary btn-md">Create Several Articles At once</a>        
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th width="5%">Damaged</th>
                    <th width="20%">Museum</th>
                    <th width="15%">Created At</th>
                    <th width="15%">Updated At</th>
                    <th width="25%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string isDamaged = "No";
                    string createdAt = "";
                    string updatedAt = "Not Updated";

                    if (item.IsDamaged)
                    {
                        isDamaged = "Si";
                    }
                    createdAt = @item.CreatedAt.ToShortDateString();

                    if (@item.UpdatedAt != null)
                    {
                        updatedAt = @item.UpdatedAt!.Value.ToShortDateString();
                    }

                    <tr>
                        <td>@item.Name</td>
                        <td>@isDamaged</td>
                        <td>@item.NameMuseum</td>
                        <td>@createdAt </td>
                        <td>@updatedAt</td>
                        <td>
                            <a asp-action="Article" asp-controller="Article" asp-route-articleId="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                            <a class="btn btn-danger btn-sm" onclick="confirmDelete(@item.Id)">Delete</a>
                            @if (!item.IsDamaged)
                            {
                                <a class="btn btn-outline-danger btn-sm" onclick="confirmMarkDamaged(@item.Id)">Mark</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>